{% extends 'my_notes_app/base.html' %}
{% block page_header %}
  <div class='jumbotron' style='background-color: #E3E3E3; 
    color: #646464;'>
    <h1 class='display-3'>Keep your notes handy</h1>
    <p class='lead'>Create notes, group them by topic and edit them at
      any time. Your notes are always at your fingertips in a simple and
      easy way. Start with loggin in to your account or registering a new one.
      After that create your first topic and you're ready to save some notes!
    </p>
  </div>
{% endblock page_header %}
